// $c-gray: #f9f9f9;
// $c-seaGreen: #0db2b3;
// $c-paleBlue: #cfeff0;
// $c-lightBlue: #eefafa;
// $c-darkGray: #131313;
// $c-grays: #333;
// $c-mediumGray: #4f4f4f;
// $c-lightGray: #7c7c7c;
// $c-silverGray: #bdbdbd;
// $c-lightSilver: #d0d0d0;
// $c-whiteGray: #f7f7f7;
// $tabletWidth: 640px;
// $desktopWidth: 1280px;
// $designWidth: 1440px;


$c-gray: #f9f9f9;
$c-sea-green: #0db2b3;
$c-pale-blue: #cfeff0;
$c-light-blue: #eefafa;
$c-dark-gray: #131313;
$c-grays: #333;
$c-medium-gray: #4f4f4f;
$c-light-gray: #7c7c7c;
$c-silver-gray: #bdbdbd;
$c-light-silver: #d0d0d0;
$c-white-gray: #f7f7f7;
$tablet-width: 640px;
$desktop-width: 1280px;
$design-width: 1440px;

